div {
    text-align: justify;
    text-justify: inter-word;
  }

.points__versus {
  font-size: min(10vw, 20vh);
  font-weight: 100;
  z-index: 400;
}

.points__team {
  position: relative;
  text-shadow: 0 0 32px rgb(0 0 0), 0 0 96px rgb(0 0 0);
  transition-delay: 150ms;
  transition-duration: 50ms;
  transition-property: color, text-shadow;
  z-index: 300;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
.table-wrapper-scroll-y {
display: block;
}
