{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <!-- Navigation-->
    <nav class="navbar bg-dark static-top">
        <div class="container bg-dark">
            <h1 class="navbar-brand text-white" href="/">PingPonger</h1>
            <div>
                <a class="btn btn-primary" href="/signup">Sign Up</a>
                <a class="btn btn-secondary" href="/login">Log In</a>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Keep track of your games with PingPonger!</h1>
                        <!-- Signup form-->
                        <form class="form-subscribe" id="contactForm" action="/signup" method="post">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" name="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Website description -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                        <h3>On any device</h3>
                        <p class="lead mb-0">Play games and see your statistics no matter where you are!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>Keep track of your scores</h3>
                        <p class="lead mb-0">We'll remember the matches you play so you can track your progress!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                        <h3>Connect with friends</h3>
                        <p class="lead mb-0">Invite your friend to a match!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}