{% extends "base.html" %}
{% block title %}Invitations{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagetitle %}All Invitations{% endblock %}
{% block content %}
    <div class="container-fluid p-3">
        <div class="row d-flex justify-content-evenly">
            <div class="col-md-5 text-center">
                <h3>Inbound Invitations</h3>
                <table class="table table-striped table-hover">
                    {% if invitesLen > 0 %}
                        {% for i in range(invitesLen) %}
                            <tr>
                                <th scope="row">{{invites[i].username}}</th>
                                <td class="text-end">
                                    <a class="btn btn-success" href="{{url_for('acceptMatch', inviter=invites[i].id)}}">Accept</a>
                                    <a class="btn btn-danger" href="{{url_for('declineInvite', invite=Invite.query.filter_by(inviter=invites[i].id).first().id)}}">Decline</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><th>No invitations.</th></tr>
                    {% endif %}
                </table>
            </div>
            <div class="col-md-5 text-center">
                <h3>Outbound Invitations</h3>
                <table class="table table-striped table-hover">
                {% if invitedLen > 0 %}
                    {% for i in range(invitedLen) %}
                        <tr>
                            <th scope="row">{{invited[i].username}}</th>
                            <td class="text-end">
                                <!-- <a class="btn btn-primary" href="{{url_for('chat', inviteID=Invite.query.filter_by(invitee=invited[i].id).first().id)}}">Chat</a> -->
                                <a class="btn btn-danger" href="{{url_for('declineInvite', invite=Invite.query.filter_by(invitee=invited[i].id).first().id)}}">Cancel</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><th>No pending invitations.</th></tr>
                {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}