{% extends "base.html" %}
{% block title %}Welcome to PingPonger{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagetitle %}Welcome to PingPonger{% endblock %}
{% block content %}
<!-- Page Content-->
     <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" height="100px" src="/static/img/loparja.png" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Work in progress</h1>
                <p>This part of the page is still being built.</p>
                <!-- <a class="btn btn-primary" href="#!">View Statistics!</a> -->
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">Work in progress</p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Friends</h2>
                        <p class="card-text">Here you can see all your friends. Invite your friends to a match and use the chat function to settle on a date and location. Start the match and record your score.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="/members/friends">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Match Invites</h2>
                        <p class="card-text">See the invites your friends have sent you. Cancel any outbound invites you have sent if you don't wish to play anymore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="/invites">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Past Matches</h2>
                        <p class="card-text">See the details of all your past matches. View the details of a match by clicking on it (NOT AVAILABLE AT THE MOMENT).</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="/pastmatches">More Info</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
{% endblock %}