{% extends "base.html" %}
{% block title %}New Match{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagetitle %}Select the settings for your match{% endblock %}
{% block content %}
    <div class="container p-5">
        <div class="row d-flex justify-content-evenly">
            <div class="col-md text-center">
                <h4>A match invite has been successfully sent to {{opponent.username}}.</h4>
                <a href="/">Send out an e-mail notifying {{opponent.username}} of the invite.</a>
            </div>
        </div>
        <div class="row text-center p-3">
            <div class="col-md text-center">
                <a class="btn btn-primary" id="chat" href="{{url_for('chat', matchID=matchID, unique=unique)}}">Chat</a>
            </div>
        </div>
    </div>
{% endblock %}