{% extends "base.html" %}
{% block title %}Match{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagetitle %}{{u1.username}} vs {{u2.username}}{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row p-5">
		<div class="col-md-12 text-center">
            <h4 id="isactive"></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-end">
            <img id="turn1" src="/static/img/lopar.png" alt="Pingpong racket: Your turn" style="visibility: hidden;">
		</div>
		<div class="col-md-3">
            <h1 class="text-end" id="u1">{{u1.username}}</h1>
            <!-- <img src="/static/img/{{u1Score}}.png", width="500", alt="score"> -->
			<h1 class="text-end" id="u1score"></h1>
			<h3 class="text-end" id="u1scoreSet"></h3>
			<button class="btn btn-primary" id="addU1" type="button">+</button>
			<button class="btn btn-primary" id="subtractU1" type="button">-</button>
		</div>
		<div class="col-md-3">
            <h1 class="text-beginning" id="u2">{{u2.username}}</h1>
            <h1 class="text-beginning" id="u2score"></h1>
            <h3 class="text-beginning" id="u2scoreSet"></h3>
			<button class="btn btn-primary" id="addU2" type="button">+</button>
			<button class="btn btn-primary" id="subtractU2" type="button">-</button>
		</div>
		<div class="col-md-3">
            <img id="turn2" src="/static/img/lopar.png" alt="Pingpong racket: Your turn" style="visibility: hidden;">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" id="spodiMiddle">
			<button class="btn btn-primary" id="gumb">Start</button>
		</div>
		<div class="col-md-4">
            <a class="btn btn-primary" href="{{url_for('chat', matchID=matchID, unique=unique)}}">Chat</a>
		</div>
	</div>
</div>
<script>
	const current_user = `{{current_user.username}}`;
	const u1 = `{{u1.username}}`;
	const u2 = `{{u2.username}}`;
	const matchID = `{{matchID}}`
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
{% endblock %}