{% extends "base.html" %}
{% block title %}New Match{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block pagetitle %}Start a new match{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4">
                <h4>Player 1</h4>
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Email address
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">
                            Password
                        </label>
                        <input type="password" class="form-control" id="exampleInputPassword1" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <h4>Player 2</h4>
                <form role="form">
                    <div class="form-group">
                         
                        <label for="exampleInputEmail1">
                            Email address
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1" />
                    </div>
                    <div class="form-group">
                         
                        <label for="exampleInputPassword1">
                            Password
                        </label>
                        <input type="password" class="form-control" id="exampleInputPassword1" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <h4>Settings</h4>
                <p>
                    Change sets.
                </p>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                         <a class="dropdown-item disabled" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center">
            <button class="btn btn-primary">
                Start
            </button>
        </div>
    </div>
{% endblock %}